body{

background:#0b0f1a;

color:white;

font-family:Arial;

margin:0;

}


.header{

background:#1e3c72;

padding:20px;

text-align:center;

font-size:24px;

font-weight:bold;

}


.container{

padding:20px;

}


.card{

background:#16213e;

padding:15px;

margin:10px 0;

border-radius:10px;

cursor:pointer;

transition:0.3s;

}


.card:hover{

background:#1f4068;

}


.title{

font-size:18px;

font-weight:bold;

}


.score{

font-size:28px;

color:#00ffcc;

margin:5px 0;

}


.status{

color:#ccc;

}
